#welcomeHeadline {
    font-size: 60px;
    font-weight: 200;
}

.actionButtons {
    position: absolute;
    right: 0;
}

.key{
    max-width: 600px;
    word-wrap: break-word;
}

.namespace {
    padding: 6px 4px;
    font-size: 90%;
    background-color: #ededed;
    border-radius: 4px;
    margin-top: 20px;
}

.error {
    color: red;
}

.link {
    cursor: pointer;
}

.activeLink {
    color: #00ABE0;
    font-weight: bold;
}

.link:hover {
    font-weight: bold;
}
