.TabInfoSection {
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.centered {  
    display: flex;
    justify-content: center;
    align-items: center;
} 

.TabContentSection {
    padding: 10px;
}

.listStyle span {
    font-family: monospace !important;
}

.newTokenCodeEmitted {
    /*text-align: center;*/
}

.newTokenCodeEmitted input {
    /*text-align: center;*/
    font-family: monospace !important;
    font-size: 150% !important;
    color: black !important;
    cursor: crosshair !important;
}

.newUrlEmitted {
    /*text-align: center;*/
}

.newUrlEmitted input {
    font-size: 15px !important;
    color: black !important;
    cursor: crosshair !important;
}