#title {
    font-size: 60px;
    font-weight: 300;
}

.show {
        opacity: 1;
        transition: all 1.5s ease-in;
}

.hide {
    opacity: 0;
}

#root {
    height: calc(100vh - 20px);
}

.error {
    color:  rgb(244, 67, 54);
}
