.key {
    float: left;
    margin-top: 15px;
    padding-left: 10px;
}

.root:hover {
    background-color: #dedede;
}

.actionButtons {
    float: right;
}

/*select all but first of class*/
.root {
    clear: both;
    border-bottom: 1px solid #dedede;
    height: 48px;
    cursor: pointer;
}
