.root {
    padding-left: 16px;
    margin-top: 64px;
    height: calc(100% - 60px) !important;
}

.menuItem > div > div > div {
    font-size: 20px;
    font-weight: 250;
}

.link {
    cursor: pointer;
    user-select: none;
}

.activeLink {
    color: #00ABE0;
    font-weight: bold;
}

.link:hover {
    font-weight: bold;
}

.sublink {
    font-size: 16px;
    margin-left: 10px;
    user-select: none;
}

.disabled {
    display: none;
}

.mountSecondaryText {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}