#root {
    padding-left: 63px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 200;
    border-right: 1px solid black;
    height: calc(100vh - 80px);
    width: 200px;
    position: fixed;
    top: 60px;
}

.link {
    cursor: pointer;
}

.activeLink {
    color: #00ABE0;
}

.link:hover {
    font-weight: bold;
}
