#content {
    padding-left: 30px;
    width: calc(100vw - 305px);
    display: inline-block;
    margin-left: 250px;
    margin-top: 80px;
}

.snackbar {
    text-align: center;
}

.welcomeScreen {
   padding-bottom: 21px;
}

.welcomeTab > div > div {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 25px;
}

.welcomeHeader {
    text-align: center;
}

.warningMsg {
    border: 1px solid transparent;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    margin: 20px 15%;
    border-color: #f39c12;
    background-color: #fef5e6 !important;
}