#content {
    padding-left: 50px;
    width: calc(100vw - 305px - 50px);
    display: inline-block;
    margin-left: 250px;
    margin-top: 60px;
}

#welcomeHeadline {
    font-size: 60px;
    font-weight: 200;
}

.snackbar {
    text-align: center;
}
